.profil {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
        h1 {
            font-size: 6rem;
        }
        .info {
           font-size: 4rem;
           color: white; 
        }
        h3 {
            margin: 2rem;
            color: $color1;
        }
        span {
            color: white;
            
        }
    }